<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pacemaker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.PacemakerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.Signup"
            android:label="@string/signupTitle" />
        <activity
            android:name=".controllers.Login"
            android:label="@string/loginTitle" />
        <activity
            android:name=".controllers.CreateActivity"
            android:label="@string/create_activity" />
        <activity
            android:name=".controllers.ActivitiesList"
            android:label="@string/list_activities" />
        <activity
            android:name=".controllers.ShowMyActivity"
            android:label="@string/list_activities" />
        <activity
            android:name=".controllers.FriendsList"
            android:label="@string/title_activity_friends_list" />
        <activity
            android:name=".controllers.ShowFriend"
            android:label="@string/title_activity_friends_list" />
        <activity
            android:name=".controllers.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
